body {  font-family: "Times New Roman", Times, serif; font-size: 9px; color: #0E0E87; background-color: #FFFFFF}
font {  font-family: "Times New Roman", Times, serif; font-size: 14px; color: 0e0e87; background-color: #FFFFFF}

/*
     FILE ARCHIVED ON 19:25:40 Oct 21, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:50:29 Nov 17, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 69.173
  exclusion.robots: 0.084
  exclusion.robots.policy: 0.073
  cdx.remote: 0.062
  esindex: 0.01
  LoadShardBlock: 35.677 (3)
  PetaboxLoader3.datanode: 75.46 (5)
  load_resource: 128.958
  PetaboxLoader3.resolve: 53.147
  loaddict: 38.335
*/